<head>
    <style type="text/css">
        body {
    margin: 0;
    outline: 0;
    font-family: 'Arial';
    font-size:13px;
    background:#f2f2f2;
    padding: 15px 0 0;
}

table {
    width: 600px;
    border-collapse: collapse;
}

tr.section .icon {
    padding: 20px 10px 20px 50px;
}

tr.section .text {
    color: #444;
    padding: 20px 50px 20px 10px;
}

tr.section .textWithoutIcon {
    color: #444;
    padding: 20px 50px 20px 50px;
}

tr.section {
    background:white;
    border-bottom:1px solid #f2f2f2;
}

#title td {
    padding:20px;
    color:#223645;
    text-align:center;
    font-size: 31px;
    /*text-transform: uppercase;*/
}

#footer td {
    padding: 10px 20px;
    color:#c1c1c0;
    font-size:12px
}

.highlighted {
    color: #f26124
}

ul.dataCollections {
    list-style:none;
    margin: 0;
    padding: 0;
}

a {
    color: #999;
}    </style>
</head>

<body>
<table align="center" border="0" cellpadding="0" cellspacing="0">
    <tr align="center">
    <td colspan="2" style="padding-bottom: 15px;">
        <img src="https://download.healthdata.be/mail_img/logo.png" width="60">
    </td>
</tr>
    <tr id="title" class="section">
        <td colspan="2">
            New user account
        </td>
    </tr>

    <tr class="section">
        <td class="icon">
            <img height="35" style="height:35px" width="50" src="https://download.healthdata.be/mail_img/comment.png">
        </td>
        <td class="text">
                            Dear <span class="highlighted">John Doe</span>,<br/>
                        <br/>
            An account has been created for you.
        </td>
    </tr>

    <tr class="section">
        <td colspan="2" class="textWithoutIcon">
            You have access to the following registries.<br/><br/>
            <table width="100%">
                <tr style="background: #f5f5f5;height:35px;border-bottom:1px solid white">
                    <td width="40" align="center" style="background-color:#f26124;"><img
                            style="color:white;padding: 7px 5px;" width="30" height="21"
                            src="https://download.healthdata.be/mail_img/collection.png"></td>
                    <td style="padding: 9px;color:#223645">
                        <ul class="dataCollections">
                                                            <li>DATA_COLLECTION_2</li>
                                                            <li>DATA_COLLECTION_3</li>
                                                            <li>DATA_COLLECTION_1</li>
                                                    </ul>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <tr class="section">
        <td colspan="2" class="textWithoutIcon">
            Please go to <a href="http://hd4dp.healthdata.be" target="_blank">the application</a> and log in with the
            below credentials.
        </td>
    </tr>

    <tr class="section">
        <td colspan="2" class="textWithoutIcon">
            <table width="100%">
                <tr style="background: #f5f5f5;height:35px;border-bottom:1px solid white">
                    <td width="40" align="center" style="background-color:#f26124;"><img
                            style="color:white;padding: 7px 5px;" width="30" height="21"
                            src="https://download.healthdata.be/mail_img/user.png"></td>
                    <td style="padding: 9px;color:#223645">user</td>
                </tr>
                <tr style="background: #f5f5f5;height:35px;border-bottom:1px solid white">
                    <td width="40" align="center" style="background-color:#f26124;"><img
                            style="color:white;padding: 7px 5px;" width="30" height="21"
                            src="https://download.healthdata.be/mail_img/lock.png"></td>
                    <td style="padding: 9px;color:#223645">pazz</td>
                </tr>
            </table>
        </td>
    </tr>

    <tr class="section">
    <td colspan="2" class="textWithoutIcon">
        Kind regards,<br/>
        Healthdata
    </td>
</tr>    <tr id="footer">
    <td colspan="2">
        For support, please visit our <a target="_blank" href="http://support.healthdata.be" style="text-decoration:underline">webpage</a> or contact us by <a style="text-decoration:underline;color:#999" href="mailto:support.healthdata@wiv-isp.be">mail</a>.
    </td>
</tr></table>
</body>