body {
    margin: 0;
    outline: 0;
    font-family: 'Arial';
    font-size:13px;
    background:#f2f2f2;
    padding: 15px 0 0;
}

table {
    width: 600px;
    border-collapse: collapse;
}

tr.section .icon {
    padding: 20px 10px 20px 50px;
}

tr.section .text {
    color: #444;
    padding: 20px 50px 20px 10px;
}

tr.section .textWithoutIcon {
    color: #444;
    padding: 20px 50px 20px 50px;
}

tr.section {
    background:white;
    border-bottom:1px solid #f2f2f2;
}

#title td {
    padding:20px;
    color:#223645;
    text-align:center;
    font-size: 31px;
    /*text-transform: uppercase;*/
}

#footer td {
    padding: 10px 20px;
    color:#c1c1c0;
    font-size:12px
}

.highlighted {
    color: #f26124
}

ul.dataCollections {
    list-style:none;
    margin: 0;
    padding: 0;
}

a {
    color: #999;
}