body {
	font-family: Georgia, serif;
}

h2 {
	font-weight: normal;
}

table {
	border-collapse: collapse;
	border: 1px #ddd solid;
}

td, th {
	padding: 15px;
	border: 1px #ddd solid;
	text-align: center;
}

th {
	color: white;
	background-color: rgb(49, 159, 238);
	font-weight: normal;
}

.progress {
	cursor: pointer;
}

.details {
	font-size: small;
}

.alignleft {
	text-align: left;
}

.in_progress {
	color: orange;
}

.completed {
	color: green;
}

.error {
	color: red;
}

.nodata {
	font-style: oblique;
}

.tablefooter {
	padding: 2px;
	text-align: right;
	background-color: #efefef;
	color: #999
}

#showalldetails, #hidealldetails {
	text-decoration: underline;
	cursor: pointer;
	font-size: small;
}
