<head>
    <style type="text/css">
        #include("mail-templates/includes/style.css")
    </style>
</head>

<body>
<table align="center" border="0" cellpadding="0" cellspacing="0">
    #include("mail-templates/includes/logo.vm")

    <tr id="title" class="section">
        <td colspan="2">
            Uploaded stable data
        </td>
    </tr>

    <tr class="section">
        <td style="padding: 20px 10px 20px 50px">
            <img height="35" style="height:35px" width="50" src="https://download.healthdata.be/mail_img/comment.png">
        </td>
        <td class="text">
            Dear,<br/>
            <br/>
            A new set of historical data has been uploaded in HD4DP for the registry <span class="highlighted">$dataCollectionName</span>.
        </td>
    </tr>

    <tr class="section">
        <td colspan="2" class="textWithoutIcon">
            This data contains information about patients your organisation has registered in the past, and that
            typically does not change over time (e.g. date of birth, gender, ...).<br/>
            <br/>
            These data can be used to pre-fill your new registrations.
            For more information, please read <a href="https://support.healthdata.be/customer/portal/articles/2498854"target="_blank">this article</a>.
        </td>
    </tr>

    #include("mail-templates/includes/healthdata-signature.vm")
    #include("mail-templates/includes/footer.vm")
</table>
</body>