<head>
    <style type="text/css">
        #include("mail-templates/includes/style.css")
    </style>
</head>

<body>
<table align="center" border="0" cellpadding="0" cellspacing="0">
    #include("mail-templates/includes/logo.vm")

    <tr id="title" class="section">
        <td colspan="2">
            Request changed
        </td>
    </tr>

    <tr class="section">
        <td class="icon">
            <img height="35" style="height:35px" width="50" src="https://download.healthdata.be/mail_img/comment.png">
        </td>
        <td class="text">
            Dear <span class="highlighted">$userRequest.firstName $userRequest.lastName</span>,<br/>
            <br/>
            Your account request has been changed by an HD4DP administrator.
        </td>
    </tr>

    <tr class="section">
        <td colspan="2" class="textWithoutIcon">
            Please find below your updated requested account information.
        </td>
    </tr>

    <tr class="section">
        <td colspan="2" class="textWithoutIcon">
            <table width="100%">
                <tr style="background: #f5f5f5;height:35px;border-bottom:1px solid white">
                    <td width="40" align="center" style="background-color:#f26124;"><img
                            style="color:white;padding: 7px 5px;" width="30" height="21"
                            src="https://download.healthdata.be/mail_img/user.png"></td>
                    <td style="padding: 9px;color:#223645">$userRequest.firstName $userRequest.lastName</td>
                </tr>
                <tr style="background: #f5f5f5;height:35px;border-bottom:1px solid white">
                    <td width="40" align="center" style="background-color:#f26124;"><img
                            style="color:white;padding: 7px 5px;" width="30" height="21"
                            src="https://download.healthdata.be/mail_img/collection.png"></td>
                    <td style="padding: 9px;color:#223645">
                        <ul class="dataCollections">
                            #foreach ($dataCollection in $userRequest.dataCollections)
                                <li>$dataCollection</li>
                            #end
                        </ul>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    
    #include("mail-templates/includes/healthdata-signature.vm")
    #include("mail-templates/includes/footer.vm")
</table>
</body>